* {

	box-sizing: border-box;
}

body {

	margin-top: 0% ;
	margin-bottom: 0%;
	margin-left: 0px;
	margin-right: 0px;
	overflow: auto;
	position: relative;
	background-image: url('23.jpg');
  	background-attachment: fixed;
  	background-size: 100% 100%;
  	background-color: #333;

}

.tgl {

	overflow: hidden;
	background-color:black;
	color: white;
	padding: 10px 12px 12px;
	width: 80%;
	margin-left: 10%;
}

.topnav2 {

	overflow: hidden;
	background-color:#333;
	padding: 12px 41%;
	color: white;
}

.tan{

	width: 50px;
	hyphens: 50px;
	float: right;
	text-align: right;
}

.topnav {

	overflow: auto;
	background-color:#333;
	padding: 14px 16px;
	color: white;

}

.topnav2 a {

	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;

}

.topnav2 a:hover {

	background-color:#ddd;
	color: white;

}

select {

	overflow: hidden;
	background-color:#333;
	padding: 8px 10px;
	color: white;
	float: left;
}

select a {

	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;

}

select a:hover {

	background-color:#ddd;
	color: white;

}

button {

	overflow: hidden;
	background-color:#333;
	padding: 8px 10px;
	color: black;
	float: left;
}

button a {

	display: block;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;

}

button a:hover {

	background-color:#ddd;
	color: white;

}


.column {

	float: left;
	background-color: #333;
	
}

.column.side {

	width : 10%;
	background-color: rgba(0,0,0,0.0);
	color: rgba(0,0,0,0.0);
}
 
.column.content2 {
	
	width : 100%;
	background-color: #333;
 	display: block;
 	text-align: left;
 	padding: 7px;
 	font-size: 20px;
 	border: solid;
}

.column.content2 a {

	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;

}

.column.content2 a:hover {

	background-color:#ddd;
	color: white;

}

.column.content {
	
	width : 80%;
 	display: block;
 	text-align: left;
 	padding: 7px;
 	font-size: 20px;
 	border-left: 0px solid;
 	border-top: solid;
 	border-right: solid;
 	border-bottom: 0px solid;

}

.column.menu {

	width : 20%;
	height: 490px;
	background-color:#ddd;
 	display: block;
 	text-align: left;
 	padding: 5px;
 	font-size: 20px;
 	position: relative;
}

.column.menu2 {

	width : 100%;
	height: 70%;
	background-color:#ddd;
 	display: block;
 	text-align: left;
 	padding: 5px;
 	font-size: 20px;
 	overflow: auto;
 	position: relative;
 	font-size: 15px;
 	margin-top: -5px;
}

.colomn.tab{

	height: 20%;
	width: 20%;
	text-align: center;
	background-color: red;
	position: relative;
}

.column.middle2 {

	width: 80%;
	background-color: #ddd;
	border: solid;

}

.column.middle {

	width: 80%

}

.row:after {

	content: "";
	display: table;
	clear: both;
	text-align: center;
	background-color: #333;

}

 .header {

	font-family: Algerian;
	background-image: url('tt.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: 100% 60%;
	padding: 20px;
	text-align: center;
	border-top: solid;
	border-bottom: solid;
	border-right: 0px solid;
	border-left: 0px solid;

}

 a {

 	text-decoration: none;
 	color: white;

 }

 p {

 	color: white;	
 }

 table {
 	color: white;
 }

 .footer {

 	width: 80%;
 	margin-left: 10%;
	background-color:black;
	padding: 10px;
	text-align: center;
	color: #f2f2f2;

}

th {

	color: white;
}

b {

	color: white;
}

.container {

  	padding-bottom: 12px;
  	position: relative;
}

.filterDiv {

  	float: left;
  	width: 200px;
  	height: 255px;
  	padding-bottom: 12%;
  	text-align: center;
  	margin: 2px;
  	border: solid;
  	display: none;
  	position: relative;
}


.show {

  	display: block;
  	position: relative;
}


.btn {

  	border: none;
  	outline: none;
  	padding: 20px;
  	background-color: #f1f1f1;
  	cursor: pointer;
  	margin: 0%;
  	position: relative;
}


.btn:hover {

  	background-color: #ddd;
}


.btn.active {

  	background-color: #666;
  	color: white;
}

.k {

  	list-style-type: none;
  	padding: 1px;
  	margin: 0;
  	position: relative;
  	background-color: #f6f6f6;
  	font-size: 15px;
  	f
}

#myUL {

  	list-style-type: none;
  	padding: 0;
  	margin: 0;
  	position: relative;
}

#myUL li a {

  	border: 1px solid #ddd;
  	margin-top: -1px; /* Prevent double borders */
  	background-color: #f6f6f6;
  	padding: 12px;
  	text-decoration: none;
  	font-size: 18px;
  	color: black;
  	display: block;
  	font-size: 15px;
}

#myUL li a:hover:not(.header) {
  
  	background-color: #eee;
  	position: relative;
}

.komentar{
	
	width: 100%;
	float: left;
	padding: 2% 5% 2% 5%;
	margin-bottom: 50px;
	color: white;
	background-color: #333;

}

.komentar table{

 	background-color: white;

}

.komentar td{

  	width: 450px;
  	white-space: pre-wrap;
  	color: black;
  	padding-left: 10px;

}

.komentar th{

  	background-color: #333;

}


.nama{
	width: 100%;
	height: 100%;
	padding-top: 210px;
	padding-bottom: 40px;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 16px;
}

.nama:hover{
	background-color: rgba(0,0,0,0.6);
	color: white ;
	font-size: 18.5px;
}

#myInput2 {
  
  background-image: url('s.jpg');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-size: 10%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  float: left;
  margin-top: 5px;
  margin-left: 21px;
}

#myInput2:focus {outline: 3px solid #ddd;}

.slideshow {
	display: none;
}
